# Python with Baba_Aammar

## Data science

### How to use Jupyter Notebook

01 **First Program**

In [1]:
print(2+3)
print("hello")
print("how are you")
print("continue")
print("we ar going finally")

5
hello
how are you
continue
we ar going finally

02 **Operators**

In [2]:
print(2+3)
print(3-1)
print(6/2)
print(2*3)
print(13%2)
print(6//2)
print(3**4)

5
2
3.0
6
1
3
81

03 **Strings**

In [3]:
print('hello')
print("  hello  ")
print('''    hello''')

hello
  hello
    hello

04 **Comments**

In [4]:
print(2+3)
print("hello")
print("how are you")
print("continue")
print("we ar going finally")

5
hello
how are you
continue
we ar going finally

ctrl plus /

to comment out

05 **Variables**

In [5]:
x=4
print(x)
y="hello"
print(y)
print(x*y)
print(type(x))
print(type(y))
z="mangoes"
print(z)
print(type(z))
print(x)
print(y)
print(z)
print(x,z,y)

4
hello
hellohellohellohello
<class 'int'>
<class 'str'>
mangoes
<class 'str'>
4
hello
mangoes
4 mangoes hello

*variables means object containing specific values

For example;

X=5

Y="we are learning python with Aammar"

*Types of variables*

type(x)

print(type(X))  'int' means **integer**

print(type(y))  'str' means **strings** 

*Rules to assign a variable*

1-The variable should contain letters, numbers or underscores

2-Do not start with numbers

3-Spaces are not allowed

4-Do not use keywords used in functions
(**False, await, else, import, pass, None, break, except, in, raise, True, class, finally, is, return, and,	continue, for,	lambda,	try, as, def, from, nonlocal, while, assert, del, global, not, with, async,	elif, if, or, yield,**)

06 **Input variables**

 *input simple function*

In [6]:
fruit_basket="mangoes"
print(fruit_basket)
fruit_basket=input("What is your favourite fruit? ")
print(fruit_basket)
greetings="hello!"  
print(greetings, fruit_basket)

mangoes
What is your favourite fruit? wisal
wisal
hello! wisal

In [7]:
name=input("what is your name? ")
age=input("how old are you? ")
greetings="Hello!"
print(greetings, name, "you are still young")

what is your name? wisal
how old are you? 22
Hello! wisal you are still young

In [8]:

name=input("what is your name? ")
greetings= "hello!"
print(greetings,name)

what is your name? anis
hello! anis

07 **Conditional logic**

**or logical operators** 

**Logical operators are either "true or false " or "yes or no" or "0 or 1"**

**equal to                      ==** 

**not equal to                  !=**

**less than                      <**

**greater than                  >**

**less than and equals to       <=**

**greater than and equals to    >=**

is 4 equal to 4  ?

In [9]:

print(4==4)
print(4!=4)
print(4>3)
print(3<6)
print(3<=5)
print(5>=4)

True
False
True
True
True
True

***application of logical operators***

In [10]:
hammad_age=4
age_at_school=5
print(hammad_age==age_at_school)
age_at_school=5

print(hammad_age!=age_at_school)

False
True

In [ ]:
age_at_school=5
hammad_age=input("How old is hammad ?  ")
hammad_age=int(hammad_age)
print(type(hammad_age) )
print(hammad_age==age_at_school)

X=10                                              **integer**

y=10.2                                             **float**

z="hello"                                          **strings**
 
 x=x*y                                              ***float***
 
 x=x+y                                              ***float*** 

implicit conversion

print(x, "Type of x is;", type(x) )

In [12]:
x=10
y=10.2
z="hello"

x=x*y
x=x+y
print(type(x))
print (x, "Type of x is;",type(x))

<class 'float'>
112.2 Type of x is; <class 'float'>

***explicit type conversion***

In [13]:
age=input("what is your age ? ")
age=int(age)
print(age,type(float(age)))

what is your age ? 18
18 <class 'float'>

In [14]:
name=input("What is your name? ")

print(name,type(str(name)))

What is your name? wisal
wisal <class 'str'>

 09   **if_else_elif statements**
 
*question: can hammad go to school ?*

In [ ]:
hammad_age=7
required_age_at_school=6

if hammad_age==required_age_at_school :
    print("hammad can go to school")
elif hammad_age > required_age_at_school:
    print("hammad should join the college")
elif hammad_age <= 5  :
     print("hammad is still a baby")        
elif hammad_age == 50 :
    print("Hammad should do business")         
else:
    print("hamad can not go to school" )

10 ***Functions***

print("we are learning with Aammar")

print("we are learning with Aammar")

print("we are learning with Aammar")

print("we are learning with Aammar")

print("we are learning with Aammar")


1) **defining a function**

In [16]:



def print_codanics():
    print("we are learning with Aammar")
    print("we are learning with Aammar")
    print("we are learning with Aammar")
    print("we are learning with Aammar")
    print("we are learning with Aammar")
    print("we are learning with Aammar")    

print_codanics()

we are learning with Aammar
we are learning with Aammar
we are learning with Aammar
we are learning with Aammar
we are learning with Aammar
we are learning with Aammar

2)

In [17]:
def print_codanics():
    text = "we are learning with aammar in codanics youtube channel"


    print(text)
    print(text)
    print(text)
    print(text)
    
print_codanics()

we are learning with aammar in codanics youtube channel
we are learning with aammar in codanics youtube channel
we are learning with aammar in codanics youtube channel
we are learning with aammar in codanics youtube channel

3)

In [18]:
def print_codenics(text):
    
    print(text)
    print(text)
    print(text)
    print(text)
    
print_codenics("hello, we are learning python with ammar in cordanic youtube channel")

hello, we are learning python with ammar in cordanic youtube channel
hello, we are learning python with ammar in cordanic youtube channel
hello, we are learning python with ammar in cordanic youtube channel
hello, we are learning python with ammar in cordanic youtube channel

4)

**defining a function with if, elif and else statements**

In [19]:
def school_calculator(age):
    
    if age ==5:
        print("Hammad can join the school") 
    elif age>5:
        print("Hammad should go to higher school")
    else :
        print("Hammad is still ababy")
school_calculator(2)

Hammad is still ababy

5)

 **defining a function of future**

In [20]:
def future_age(age):
    
    new_age=age+20
    return new_age
     
future_predicted_age=future_age(12)
print(future_predicted_age)

32

11) **loops**

  ***While and for loops***
  
   **while loops**

In [21]:
x-0
while(x<6):
    print(x)
    
    x=x+1

**for loop**

In [22]:

for x in range(3,11):
    print(x)

3
4
5
6
7
8
9
10

**array meansdata set**

In [23]:
days=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
for d in days:
    if (d=="Fri"):break        
    if (d=="Fri"):continue     
    print(d)

Mon
Tue
Wed
Thu

if (d=="Fri"):break               **loop stops**
if (d=="Fri"):continue            **skips d**

12)**import libraries**

In [24]:
import math

print("The value of pi is ", math.pi)

The value of pi is  3.141592653589793

In [25]:
import statistics
x=[150, 250,350, 450]

print(statistics.mean(x))

300

***numpy ,  pandas  importamt libraries***

13)**Trouble_shooting**

**print(we are learning with Aammar)**

**SyntaxError forgot comma**

**print(25/0)  runtime error or Zero DivisionError**


**from unicodedata import name**


**name="Aammar"**

**print("hello name")  #symantec error**